
[38;2;233;0;41m
                               dNW0;
                              XMMMMMl
              ..             OMMMMMMM.
             xMMWo          'MMMMMMMM0
            xMMMMMo         kMMMMMMMMM.        .
           .MMMMMMM.        WMMMMMMMMMx      .NMX
           0MMMMMMMO       cMMMMMMMMMMW      XMMMk
          ,MMMMMMMMM'     .WMMMMMMMMMMMk    oMMMMM.
         'NMMMMMMMMMN'   ;NMMMMMMMMMMMMMl  .WMMMMM0
    lOOOXMMO;'lWMMMMMMXOXMMMMWd,'cKMMMMMMK0WMx;''''.
     NMMMMO    .WMMMMMMMMMMMX.     dMMMMMMMMx
     oMMMM.     oMMMMMMMMMMW.       kMMMMMMN
      WMMd       WMMMMMMMMMo         XMMMMM'
      .dc        dMMMMMMMMN          .XMMW;
                  WMMMMMMMl            ',
                  oMMMMMMN
                   XMMMMW'
                    o00x.
[0m

[1mEggplant Gateway {{ epgw_version }}[0m

Navigate to http://\4{eth0}:5000/
            http://\n:5000/

