[Unit]
Description=Keycloak
Documentation=https://www.keycloak.org/
After=network.target

[Service]
Type=notify
AmbientCapabilities=CAP_SYS_ADMIN
User=keycloak
ExecStart=/opt/keycloak/bin/kc.sh start-dev
Restart=on-failure
WorkingDirectory=/opt/keycloak
Environment="KC_BOOTSTRAP_ADMIN_USERNAME={{ keycloak_bootstrap_admin_username }}"
Environment="KC_BOOTSTRAP_ADMIN_PASSWORD={{ keycloak_bootstrap_admin_password }}"

[Install]
WantedBy=multi-user.target
